amqp==5.3.1
asgiref==3.8.1
astroid==3.2.4
async-timeout==5.0.1
autopep8==2.3.1
beautifulsoup4==4.12.3
billiard==4.2.1
celery==5.4.0
certifi==2024.12.14
cffi==1.17.1
chardet==5.2.0
charset-normalizer==3.3.2
click==8.1.8
click-didyoumean==0.3.1
click-plugins==1.1.1
click-repl==0.3.0
coreapi==2.3.3
coreschema==0.0.4
coverage==7.6.1
coveralls==4.0.1
cron-descriptor==1.4.5
cryptography==44.0.0
cssselect==1.2.0
defusedxml==0.7.1
dill==0.3.8
dj-database-url==2.2.0
Django==5.1.4
django-braces==1.15.0
django-celery-beat==2.7.0
django-celery-results==2.5.1
django-cors-headers==4.6.0
django-cors-middleware==1.5.0
django-extensions==3.2.3
django-oauth-toolkit==3.0.1
django-redis==5.4.0
django-timezone-field==7.0
djangorestframework==3.15.2
djangorestframework-simplejwt==5.3.1
docopt==0.6.2
drf-yasg==1.21.8
entrypoints==0.4
factory_boy==3.3.1
Faker==28.1.0
flake8==7.1.1
gunicorn==23.0.0
idna==3.10
inflection==0.5.1
isort==5.13.2
itypes==1.2.0
Jinja2==3.1.5
jwcrypto==1.5.6
kombu==5.4.2
lazy-object-proxy==1.10.0
lxml==5.3.0
markdown2==2.5.0
MarkupSafe==2.1.5
mccabe==0.7.0
mock==5.1.0
oauthlib==3.2.2
packaging==24.2
pbr==6.1.0
pillow==11.1.0
platformdirs==4.2.2
prompt_toolkit==3.0.48
psycopg2==2.9.9
psycopg2-binary==2.9.9
pycodestyle==2.12.1
pycparser==2.22
pyflakes==3.2.0
PyJWT==2.9.0
pylint==3.2.7
pyquery==2.0.1
python-crontab==3.2.0
python-dateutil==2.9.0.post0
python-decouple==3.8
python-http-client==3.3.7
python3-openid==3.2.0
pytz==2024.2
PyYAML==6.0.2
redis==5.2.1
requests==2.32.3
six==1.17.0
soupsieve==2.6
sqlparse==0.5.3
starkbank-ecdsa==2.2.0
tomli==2.0.1
tomlkit==0.13.2
typed-ast==1.5.5
typing_extensions==4.12.2
tzdata==2024.2
uritemplate==4.1.1
urllib3==2.3.0
vine==5.1.0
wcwidth==0.2.13
whitenoise==6.8.2
